<div class="activity-detail">
    <h3 class="activity-summary-name">{{activity.name}} ({{activity.cuisine}})</h3>
    <span class="stars">{{activity.stars}} ★</span>
    <p class="recipe-info">Serves: {{activity.serves}} | Prep: {{activity.prep_time}} | Cooking: {{activity.cooking_time}}</p>
    <h4>Ingredients</h4>
    <p>{{breaklines activity.ingredients}}</p>
    <h4>Directions</h4>
    <p>{{breaklines activity.directions}}</p>

    <a class="star-button" href="/recipes/{{activity.id}}/star">★ Star this recipe ★</a>
</div>