<div class="row" id="formErrors">
    <div class="col-sm-8 col-sm-offset-2">
        {{#each errors}}
            <p class="bg-danger">{{this}}</p>
        {{/each}}
    </div>
</div>

<div id="creation-form">
    <div>
        <h4 class="col-sm-offset-2">Create New Activity</h4>
    </div>
    <form action="/create" class="form-horizontal" method='POST'>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Activity:</label>
            <div class="col-sm-10">
                <input type="text" name="name" placeholder="Name of the activity" value="{{values.name}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="description">Description:</label>
            <div class="col-sm-10">
                <textarea id="activityDescription" name="description"
                        placeholder="Some meaningful description what your activity is all about">
                            {{values.description}}
                </textarea>
            </div>
            <script>
                function removeTextAreaWhiteSpace() {
                    var myTxtArea = document.getElementById('activityDescription');
                    // myTxtArea.value = myTxtArea.value.replace(/^\s*|\s*$/g,'');
                    myTxtArea.value = myTxtArea.value.trim();
                }
                removeTextAreaWhiteSpace();
            </script>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="location">Location:</label>
            <div class="col-sm-10">
                <input type="text" name="location" placeholder="CoWorkStreet 23, Geneva, Switzerland"
                        value="{{values.location}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="date">Date:</label>
            <div class="col-sm-10">
                <input type="text" name="date" placeholder="12.12.2012" value="{{values.date}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="time">Time:</label>
            <div class="col-sm-10">
                <input type="text" name="time" placeholder="00:00" value="{{values.time}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" type="submit">Create Activity</button>
            </div>
        </div>
    </form>
</div>