<div class="row" id="formErrors">
    <div class="col-sm-8 col-sm-offset-2">
        {{#each errors}}
            <p class="bg-danger">{{this}}</p>
        {{/each}}
    </div>
</div>

<div id="registration-form">
    <div>
        <h4 class="col-sm-offset-2">Edit Profile</h4>
    </div>
    <form action="/myProfile/edit" class="form-horizontal" method='POST'>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="username">Username: </label>
            <div class="col-sm-10">
                <p>{{userData.username}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="firstname">Firstname: </label>
            <div class="col-sm-10">
                <input type="text" name="firstname" placeholder="firstname" value="{{userData.firstname}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="lastname">Lastname: </label>
            <div class="col-sm-10">
                <input type="text" name="lastname" placeholder="lastname" value="{{userData.lastname}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="description">Description: </label>
            <div class="col-sm-10">
                <input type="text" name="description" placeholder="description" value="{{userData.description}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="canton">Canton: </label>
            <div class="col-sm-10">
                <input type="text" name="canton" placeholder="canton" value="{{userData.canton}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="country">Country: </label>
            <div class="col-sm-10">
                <input type="text" name="country" placeholder="country" value="{{userData.country}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="email">Email: </label>
            <div class="col-sm-10">
                <input type="text" name="email" placeholder="email" value="{{userData.email}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="website">Website: </label>
            <div class="col-sm-10">
                <input type="text" name="website" placeholder="website" value="{{userData.website}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="phone">Phone: </label>
            <div class="col-sm-10">
                <input type="text" name="phone" placeholder="phone" value="{{userData.phone}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" placeholder="password" for="password">Password:</label>
            <div class="col-sm-10">
                <input type="password" name="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" type="submit">Update</button>
            </div>
        </div>
    </form>
</div>