<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <img src="../images/default/male_w.png" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>{{userData.firstName}}, {{userData.lastName}}</p>
                <small>
                    <cite title="Source Title">{{userData.canton}}, {{userData.country}}<i class="glyphicon glyphicon-map-marker"></i></cite>
                </small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> {{userData.email}}
                <br/> <i class="glyphicon glyphicon-globe"></i> {{userData.website}}
                <br /> <i class="glyphicon glyphicon-gift"></i> DATE
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <a class="header-button" href="/myProfile/edit">Edit</a>
        </div>
    </div>
</div>