<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <img src={{userData.picture}} alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>{{userData.firstname}}, {{userData.lastname}}</p>
                <small>
                    <cite title="description">{{userData.description}}</cite>
                    <br/><br/>
                    <cite title="Source Title">{{userData.canton}}, {{userData.country}}<i class="glyphicon glyphicon-map-marker"></i></cite>
                </small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> {{userData.email}}
                <br/> <i class="glyphicon glyphicon-globe"></i> {{userData.website}}
            </p>
        </div>
    </div>
    <div class="row">
        {{#if myProfile}}
        <div class="col-sm-2">
            <a class="header-button" href="/myProfile/edit">Edit</a>
        </div>
        {{/if}}
    </div>
</div>